@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .hero-bg-gradient {
    background: radial-gradient(100% 100% at 50% 0%, #FAFCFF 0%, #FFFFFF 100%);
  }
  .dashboard-gradient {
    background: linear-gradient(135deg, #0B132A 0%, #060A17 100%);
  }
}
